:root {
  --padding-lateral-sabor:1rem;
  --padding-lateral-sabor-lg:1.5rem;
}
.sabor {
  padding-inline: var(--padding-lateral-sabor);
}
.sabor__item{
  max-width: calc(600px - var(--padding-lateral-sabor));
}
@media (min-width:1024px) {
  .sabor {
    padding-inline: var(--padding-lateral-sabor-lg);
  }
  .sabor__item{
    max-width: calc(600px - var(--padding-lateral-sabor-lg));
  }
}